<h6 style="padding: 5px;">Near Doctor</h6>
<ion-card mode="md">
  <ion-card-content>
    <div class="card-top">
      <div class="card-top-start">
        <ion-avatar slot="start" class="image">
          <img src="assets/doctor (1).jpeg" />
        </ion-avatar>
      </div>
      <div class="card-top-center">
        <ion-card-title style="color: black; font-size: 15px; font-weight: bold;">Dr. Joseph Brostito</ion-card-title>
      <ion-card-subtitle style="color: rgb(188, 188, 188); font-size: 12px;">Dental Specialist</ion-card-subtitle>
      </div>
      <div class="card-top-end">
        <ion-icon style="color: gray;" class="right-arrow" name="pin-outline"></ion-icon>
        <p>1.2 KM</p>
      </div>
    </div>
    <hr>
    <div class="card-bottom">
      <div class="card-left">
        <ion-icon color="warning" class="small-icons" slot="start" name="time-outline"></ion-icon>
        <ion-text style="color: rgb(247, 197, 69);">4,8 (120 Reviews)</ion-text>
      </div>
      <div class="card-right">
        <ion-icon color="primary" class="small-icons" slot="start" name="time-outline"></ion-icon>
        <ion-text style="color: rgb(23, 88, 225);">Open at 17.00</ion-text>
      </div>
    </div>
  </ion-card-content>
</ion-card>