<ion-card mode="md">
  <ion-card-content>
    <div class="card-top">
      <div class="card-top-start">
        <ion-avatar slot="start" class="image">
          <img src="assets/doctor1 (1).jpeg" />
        </ion-avatar>
      </div>
      <div class="card-top-center">
        <ion-card-title style="color: white; font-size: 15px; font-weight: bold;">Dr Imran Syahir</ion-card-title>
        <ion-card-subtitle style="color: rgb(188, 188, 188); font-size: 12px;">General Doctor</ion-card-subtitle>
      </div>
      <div class="card-top-end">
        <ion-icon class="right-arrow" slot="end" name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
    <hr>
    <div class="card-bottom">
      <div class="card-left">
        <ion-icon class="small-icons" slot="start" name="calendar-outline"></ion-icon>
        <ion-text>Sunday, 12 June</ion-text>
      </div>
      <div class="card-right">
        <ion-icon class="small-icons" slot="start" name="time-outline"></ion-icon>
        <ion-text>11:00 - 12:00 AM</ion-text>
      </div>
    </div>
  </ion-card-content>
</ion-card>